@font-face {
    font-family: "parisian";
    src: 
        url("/Fonts/PARISIAN.woff") format ("woff");
        url:("/Fonts/parisian-webfont.woff2") format ("woff2");
}

/* Java .name Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

.name {
    opacity: 0; 
}

.name.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}
/* Test .name End */


body {
    margin: 0;
    padding: 0px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

/* Navigation Menu */

header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.977);
    width: 100%;
    height: 70px;
    padding-bottom: 10px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 160px;
    padding-right: 160px;
}

nav ul li a {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2c2f3a;
}

nav ul li:hover a {
    font-weight: 300;
}

.name {
    font-family: "parisian", "Noto Serif Display", serif;
    font-weight: 100;
    font-size: 30px;
    color: #b6cebe;
    text-transform: uppercase;
    }

/* Links */

a {
    color: #2c2f3a;
    text-decoration: none;
}

a:hover {
    color: #8ca193;
    font-weight: 100;
}


/* Text */

h2 {
    /* font-family: "parisian", "Noto Serif Display", serif; */
    font-family: "Noto Serif Display", serif;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-size: 30px;
    margin-top: 5px;
}

.tag {
    font-family: "source-sans-pro", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
    color: #b6cebe;
    letter-spacing: 1px;
    margin-top: 0px;
}

/* Main Content */

main {
    padding: 50px;
}

/* Single-Column Sections */

#single-column {
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
}

.bigitem {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.bigitem img {
    width: 100%;
    object-fit: cover;
}


/* Two-Column Sections */

#two-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.left-item, .right-item {
    max-width: 600px;
}

#two-column img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
} 
 

/* Footer Content */

footer {
    font-family: parisian, "Noto Serif Display", serif;
    font-size: 15px;
    font-weight: 100;
    width:  100%;
    text-align: center;
    color: #272727;
}

footer p {
margin: 50px 0px 50px 0px;
}


/* Media Query for Small Screens and portrait orientation */

@media screen and (max-width: 768px) and (orientation:portrait) {

    nav ul {
        flex-direction: column; 
        align-items: center; 
        line-height: 35px;
    }

    header {
        padding: 0;
        height: 150px; 
        padding-bottom: 15px;
        background-color: white;
    }

        .name {
        order: -1; 
        padding-bottom: 10px;
        opacity: 1;
        white-space: nowrap;
        letter-spacing: 0px;
    }

    #single-column:nth-of-type(1) {
        padding-top: 150px;
    }

    .pytlik {
        display: none; 
    }

    #single-column {
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .bigitem {
        width: 600px;
        height:600px;
    }

    .bigitem img {
        width: 100;
        height: 100%;
        object-fit: cover;
    }

    #two-column {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .left-item, .right-item {
        max-width: 600px;
        margin-bottom: 30px;
    }

    #two-column img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        justify-content: space-evenly;
    } 
}

/* Media Query for Large Screens */

@media only screen and (min-width: 769px) {

    .pytlik {
    transition: font-size 0.1s ease; 
    font-family: "parisian", "Noto Serif Display", serif;
    font-weight: 100;
    letter-spacing: -5px;
    font-size: 15vmin;
    color: #b6cebe;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    }

    .left-item {
        margin-right: 20px;
    }
}
